.loginPage{
    background-image: url("/login_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.background{
    /* background-color: white; */
    background: linear-gradient(
        
        rgba(255,255,255,0.5),
        rgba(255,255,255,1)
        
    );
    width: 45%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center
}

.info{
    width: 100%;
    height: 100%;
    text-align: center; 
    color: white;
    font-size: 18px;
    font-family: Nico Moji; 
    margin-top: 18px;
}

.naglowek{
    width: 100%;
    height: 100%;
    text-align: center; 
    color: #5E727F;
    font-size:45px;
    font-family: Nico Moji; 
    font-weight: 40; 
    text-transform: uppercase; 
    word-wrap: break-word;
    margin-top: 2vh;

}
.loginSquare{
    /* min-height:520px; */
    margin-top: 3vh;
    width: 70%;
    height: 60vh; 
    background: #97A9AE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.50) inset;
    display: flex;
    align-items:center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.inputLogin{
    height:70px;
    min-height: 30px;
    width: 60%;
    outline: none;
    padding-inline: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border:none;
}

.przycisk{
    height:70px;
    width:120px;
    border-radius:5px;
    border:none;
    background-color: #5E727F;
    color: white;
    transition: ease-in-out 0.06s scale;
    margin-top: 10px;
}
.przycisk:hover{
    background-color: #4e5e69;
    color: rgb(214, 214, 214);
    scale: 0.99;
}
.przycisk:active{
    scale: 0.9;
}

.linkiDolne{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 8px;
    /* padding-top: 15px; */
}

.linkDolnyLogin{
    color: white;
    font-size: 20;
    font-family: Oxanium;
    text-decoration: none;
    transition: ease-in-out 0.06s scale;
    margin-bottom: 30px;
}

.linkDolnyLogin:hover{
    color: rgb(224, 224, 224);
    scale: 0.99;
}
.linkDolnyLogin:active{
    color: rgb(224, 224, 224);
    scale: 0.90;
    
}

.linkDolny{
    margin-top: auto;
    margin-bottom: 5vh;
    font-size: 20px;
    color:#97A9AE
}
.linkDolny:hover{
    color:grey;
    scale: 0.99;
}
.linkDolny:active{
    color: grey;
    scale: 0.90;
    
}

.dane{
    height:20px;
    font-weight: bold;
    font-size: 20px;
    border:none;
    padding-left: 15%;
    width: 80%;
    display: flex;

}

.opcje{
    height: 150px;
    min-height: 45px;
    width:70%;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 3px;
    display: flex;
}

@media(max-width:850px){
    .background{
        width:70%;
    }
    .loginSquare{
        width:80%;
    }
    .dane{
        padding-right: 30vw;
    }
}